* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  color: #e2e2e2;
  background-color: #262335;
  padding-inline: 1rem;
}

main {
  padding-block: 1rem;
}

form {
  input{
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}


.text-center {
  text-align: center;
}

footer {
  padding-block: 1rem;
}

#circle {
  margin-inline: auto;
  outline: 1px solid red;
  border-radius: 50%;
  width: 100mm;
  height: 100mm;
  background-color: #e2e2e2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#circleRadius {
  outline: 2px solid blue;
  background-color: #262335;
  flex-grow: 0.5;
  position: relative;
  span {
    position: absolute;
    height: 1rem;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
  }
}