* {
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  color: #121212;
  background-color: salmon;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

